.navbar-nav {
    justify-content: flex-end;
}

.bg-transparent {
    background: transparent !important;
    border: 1px solid black;
}


footer {
    position: fixed;
    height: 25px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

nav {
    background-image: url("../assets/background_degrade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url("../assets/background_degrade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}